.answerArea {
  margin: auto;
  width: 80%;
  /*max-width: 1024px;*/
  display: flex;
  flex-flow: column;
}

.answerArea form {
  margin: auto;
  width: 80%;
}

.answerArea form button {
  float: right;
  max-width: 150px;
}

.answerArea .questionList {
  min-width: 500px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.answerArea .questionList .card {
  width: 49%;
}

.answerArea .card .pb-4 {
  padding-bottom: unset !important;
}

.answerArea .card .pt-2 h5 {
  padding-bottom: 1.5rem !important
}

@media (max-width: 600px) {
  .answerArea .questionList {
    min-width: unset;
  }
  .answerArea .questionList .card {
    width: 100%;
    max-width: 500px;
  }
}
