.rankingArea {
  margin: auto;
  width: 80%;
  max-width: 1024px;
  display: flex;
  flex-flow: column;
}

.rankingArea form {
  margin: auto;
  width: 80%;
}

.rankingArea form button {
  float: right;
  max-width: 150px;
}

.rankingArea .questionList {
  min-width: 500px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.rankingArea .questionList .card {
  width: 49%;
}

.rankingArea .form-row-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.rankingArea .card .pb-4 {
  padding-bottom: unset !important;
}

.rankingArea .card .pt-2 h5 {
  padding-bottom: 1.5rem !important
}

@media (max-width: 600px) {
  .rankingArea .questionList {
    min-width: unset;
  }
  .rankingArea .questionList .card {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 767px) {
  .arrows {
    display: none;
  }
}

