.userArea {
  margin: auto;
  width: 80%;
  max-width: 1024px;
  display: flex;
  flex-flow: column;
}

.userArea form {
  margin: auto;
  width: 80%;
}

.userArea form button {
  float: right;
  max-width: 150px;
}

.userArea .userInformation {
  min-width: 500px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.userArea .userInformation .card {
  width: 49%;
}

.userArea .form-row-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.userArea .card .pb-4 {
  padding-bottom: unset !important;
}

.userArea .card .pt-2 h5 {
  padding-bottom: 1.5rem !important
}

.userArea .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.userArea .buttons button  {
  margin-right: 20px;
  margin-bottom: 30px;
}

.userArea .separator {
  margin-top: unset;
}

@media (max-width: 900px) {
  .userArea .userInformation {
    min-width: unset;
  }
  .userArea .userInformation .card {
    width: 100%;
    max-width: 500px;
  }
  .buttons {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .buttons button {
    margin-right: unset;
  }
}


