.questionArea {
  margin: auto;
  width: 80%;
  max-width: 1024px;
  display: flex;
  flex-flow: column;
}

.questionArea form {
  margin: auto;
  width: 80%;
}

.questionArea form button {
  float: right;
  max-width: 150px;
}

.questionArea .separator {
  width: 100%;
  background-color: lightgrey;
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin-top: 50px;
  margin-bottom: 50px;
}

.questionArea .questionList {
  min-width: 500px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.questionArea .questionList .card {
  width: 49%;
}

.questionArea .form-row-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.questionArea .card .pb-4 {
  padding-bottom: unset !important;
}

.questionArea .card .pt-2 h5 {
  padding-bottom: 1.5rem !important
}

.arrows {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.buttons button  {
  margin-right: 20px;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .questionArea .questionList {
    min-width: unset;
  }
  .questionArea .questionList .card {
    width: 100%;
    max-width: 500px;
  }
  .buttons {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .buttons button {
    margin-right: unset;
  }
}


