.navbar {
  padding-bottom: 4rem;
}

#navbar-logo {
  min-height: 5.2rem;
}

li {
  display: inline-block;
  margin: 0 0.625rem;
}

@media only screen and (min-width: 1500px) {
  .navbar .container {
    max-width: 1300px;
  }
}

/* Desktops */
@media only screen and (min-width: 992px) {

  #login-button, #logout-button {
    margin-left: 1.5rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    height : 100%;
    display : flex;
    align-items : center;
  }

}

/* Laptops */
@media only screen and (max-width: 991px) {

  .navbar {
    padding-bottom: 3rem;
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
    max-height: 820px;
  }

  .navbar-collapse:not(.show) {
    display: none;
  }

  #login-button, #logout-button {
    margin-top: 0.625rem;
  }

}
