/*=============================================================================================================*/
.alertify-notifier.ajs-right {
  min-width: 250px;
  width: auto;
  max-width: 800px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.alertify-notifier .notification {
  margin-bottom: 5px;
  margin-right: 3px;
}

.alertify-notifier .hasSucceed {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #26852b;
}

.alertify-notifier .hasError {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #c30;
}

.alertify-notifier .hasWarning {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffc107;
}

.alertify-notifier .in {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.alertify-notifier .out {
  -webkit-animation: swingOut 1s ease-out;
  animation: swingOut 1s ease-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes swing
{
  0%
  {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0.65;
  }
  15%
  {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0.85;
  }
  30%
  {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 1;
  }
  50%
  {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  65%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  75%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  85%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  925%
  {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}

@keyframes swingOut
{
  15%
  {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  50%
  {
    opacity: 0.75;
  }
  75%
  {
    opacity: 0.50;
  }
  100%
  {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0.25;
  }
}

