.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 50px; */
  color: #b7b7b7;
  background: #fff;
  border-radius: 8px;
  /* box-shadow: 0 6px 33px rgba(19, 18, 18, 0.09); */
}
.rating .list {
  padding: 0;
  margin: 0 20px 0 0;
}
.rating .list:hover .star {
  color: #ffe100;
}
.rating .list .star {
  /* It'll be fine */
  display: inline-block;
  font-size: 4vh;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: unset;
  padding: 0 1vh;
}
.rating .list .star:hover ~ .star:not(.active) {
  color: inherit;
}
.rating .list .star:first-child {
  margin-left: 0;
}
.rating .list .star.active {
  color: #ffe100;
}
.rating .info {
  /* margin-top: 15px; */
  margin-bottom: 15px;
  font-size: 40px;
  text-align: center;
  display: table;
}
.rating .info .divider {
  margin: 0 5px;
  font-size: 30px;
}
.rating .info .score-max {
  font-size: 30px;
  vertical-align: sub;
}
